@import 'config.scss';

.CartFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  button {
    background: #0e0e0e;
    color: #fefefe;
    border: 0;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
  }
}
