@import 'config.scss';

.Cart {
  position: absolute;
  bottom: 0;
  right: calc(-50% - 8px);
  z-index: 1;
  padding: 8px;
  height: 100%;
  width: 30%;
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: right 1s ease;

  .title {
    margin: 0 0 8px 0;
  }

  .cartContent {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 100px);
    overflow-y: auto;
    height: calc(100% - 68px);
  }

  .isEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 124px);
  }
}

.isOpen {
  right: 0;
}
