@import 'config.scss';

.Header {
  position: fixed;
  z-index: 666;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 100%;
  border-bottom: 1px solid black;
  padding: 16px;
  background: white;

  .logo {
    max-width: 250px;
    height: 80px;
    justify-self: center;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .navRight {
    > ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 16px;
      height: 78px;
    }
  }
}
