@import 'config.scss';

.Header {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  height: fit-content;
  border-bottom: 1px solid black;
  transition: all 0.5s ease;
  padding: 16px;

  .navLeft {
    > ul {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 16px;
    }
  }

  .logo {
    max-width: 250px;
    height: 80px;
    justify-self: center;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .navRight {
    > ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 16px;

      li {
        margin: 0 16px;
      }
    }
  }
}
