@import 'config.scss';

.CartToggler {
  position: relative;
  background: #0e0e0e;
  color: #fefefe;
  border: 0;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;

  .notification {
    position: absolute;
    top: -24px;
    right: -24px;
    padding: 10px;
    background: red;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
