@import 'config.scss';

.BannerSlice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 32px;

  @include from($md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .caption {
    position: relative;

    img {
      object-fit: cover;
    }
  }

  .content {
    align-self: center;
    padding: 16px;

    h2 {
      margin-bottom: 32px;

      @include from($xl) {
        font-size: 36px;
      }
    }

    p {
      margin-bottom: 32px;
    }

    button {
      background: white;
      color: black;
      border: 2px solid black;
      padding: 16px;
      border-radius: 2px;
      cursor: pointer;

      @include from($xl) {
        font-size: 32px;
      }
    }
  }
}
