@import 'config.scss';

.ProductGrid {
  padding: 8px;
  height: 100%;
  width: 100%;

  .title {
    margin: 0 0 8px 0;
  }

  div {
    height: calc(100% - 28px);
    padding: 8px;

    ul {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(100px, 364px));
    }
  }
}
