@import 'config.scss';

.ProductGrid {
  padding: 8px;
  height: 100%;
  width: 100%;

  .title {
    font-weight: bold;
    padding-bottom: 8px;
  }

  div {
    padding: 8px;
    overflow: auto;
    height: 96%;

    @include from($md) {
      height: 97%;
    }

    ul {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
      height: 100%;

      @include from($sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include from($md) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
