@import 'config.scss';

.Page {
  width: 100%;
}

.layout {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  transition: all 0.5s ease;
}

.isOpen {
  filter: blur(10px);
  pointer-events: none;
}
