@import 'config.scss';

.TextSlice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  padding: 64px;
  border-bottom: 1px solid black;

  p {
    margin-bottom: 16px;
  }

  button {
    background: white;
    color: black;
    border: 2px solid black;
    padding: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin: 16px auto;

    @include from($xl) {
      font-size: 32px;
    }
  }
}
