@import 'config.scss';

.AddToCartButton {
  background: black;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  width: 40%;
  height: 48px;
  font-size: 24px;
}
